@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400..700&display=swap');

:root {
  --black: #000000;
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --orange-500: hsl(25, 97%, 53%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-925: hsl(216, 12%, 9%);
  --grey-950: hsl(216, 12%, 8%);
}

.d-none {
  display: none;
}

body {
  background-color: var(--grey-950);
  display: grid;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  height: 100vh;
  line-height: 1.5;
  place-content: center;
  place-items: center;
}

h1 {
  font-size: 1.75rem;
  font-weight: 400;
}

p {
  color: var(--grey-500);
}


.star-icon {
  border: 1rem solid var(--grey-900);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08);
  border-radius: 50%;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-block: 1.5rem;
  padding: 0;
}

.rating-btn {
  background: var(--grey-900);
  border-radius: 50%;
  color: var(--grey-500);
  cursor: pointer;
  display: grid;
  height: 3rem;
  place-items: center;
  width: 3rem;

  &:hover {
    background-color: var(--orange-500);
    color: var(--black);
  }
}

li:has(input:checked) label {
  background-color: var(--white);
}

.submit-button {
  background-color: var(--orange-500);
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .12rem;
  padding: 1rem;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background-color: var(--white);
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

article {
  display: grid;
  place-content: center;
  place-items: center;

  h1 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  p {
    text-align: center;
    margin-top: 0;
  }
}

.thank-you-icon {
  width: 8rem;
}

figcaption {
  font-size: .9rem;
  color: var(--orange-500);
  background-color: var(--grey-900);
  border-radius: 2rem;
  padding: .5rem 1rem;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

app-review-card,
app-thank-you-card {
  background:
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
          var(--grey-900);
  border-radius: 2rem;
  color: var(--white);
  display: block;
  margin: auto;
  max-width: 330px;
  padding: 2rem;
}
